.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #eac2fa;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: purple;
  border: 1px solid purple;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #eac2fa;
}